PORT=3000

# https://serper.dev/
SERPER_API_KEY=your_serper_api_key

# KIMAI API KEY
KIMAI_MODEL_NAME='moonshot-v1-32k'
KIMAI_BASE_URL='https://api.moonshot.cn/v1/chat/completions'
KIMAI_API_KEY='your_kimai_api_key'

# VOLCANO API KEY
VOLCANO_URL='https://ark.cn-beijing.volces.com/api/v3/images/generations'
VOLCANO_API_KEY='your_volcano_api_key'
